.slideInRight {
    animation: slideInRight 1s ease-in-out;
}

.slideInLeft {
    animation: slideInLeft 1s ease-in-out;
}
.slideInDown{
    animation: slideInDown 1s ease-in-out;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-300%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(300%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}




@keyframes price-card-animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}
