$max-width: 1200px;
$bg-image-main: url('../images/main.jpg');
$bg-image-counter: url('../images/work-office.jpg');

$primary:#6f42c1;
$light-primary: #e8deeb;
$middle-dark: #212529;
$white: #fff;
$light: #f8f9fa;
$success: #28a745;
$dark: #343a40;
$light-gray:#f0f0f0;
$blue: #007bff;





